@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Noto Serif-Bold", "weight": "700", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Noto Serif-Bold";
  src: local("Noto Serif-Bold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Noto Serif-Medium", "weight": "500", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Noto Serif-Medium";
  src: local("Noto Serif-Medium");
}
/* @FONTWARNING[{"type": "restricted", "family": "Noto Serif-ExtraBold", "weight": "800", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Noto Serif-ExtraBold";
  src: local("Noto Serif-ExtraBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "Noto Serif-SemiBold", "weight": "600", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Noto Serif-SemiBold";
  src: local("Noto Serif-SemiBold");
}
/* @FONTWARNING[{"type": "restricted", "family": "42dot Sans-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "42dot Sans-Regular";
  src: local("42dot Sans-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Noto Serif-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Noto Serif-Regular";
  src: local("Noto Serif-Regular");
}
/* @FONTWARNING[{"type": "restricted", "family": "Product Sans-Regular", "weight": "400", "style": "normal", "allowsCrossOrigin": false}] */

@font-face {
  font-family: "Product Sans-Regular";
  src: local("Product Sans-Regular");
}
