* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

.desktop {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1981px;
  height: 4428px;
  position: relative;
}

.desktop .ellipse {
  position: absolute;
  top: 5336px;
  left: 1230px;
  width: 242px;
  height: 242px;
  background-color: #fff7f7;
  border-radius: 121px;
}

.desktop .destinations {
  position: absolute;
  width: 41.75%;
  height: 2.47%;
  top: 27.11%;
  left: 27.66%;
}

.desktop .img {
  left: 0;
  position: absolute;
  top: 0;
}

.desktop .vector {
  width: 17.90%;
  height: 100%;
  left: 82.10%;
  position: absolute;
  top: 0;
}

.desktop .top-destination {
  position: absolute;
  top: 1280px;
  left: 169px;
  width: 1801px;
  height: 580px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.desktop .bg {
  position: absolute;
  top: 0;
  left: 1012px;
  width: 789px;
  height: 580px;
  background-color: #f6f6f6;
}

.desktop .place {
  position: absolute;
  top: 90px;
  left: 1329px;
  width: 318px;
  height: 400px;
}

.desktop .image-here {
  width: 316px;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  background-color: #c4c4c4;
}

.desktop .japan {
  position: absolute;
  top: 0;
  left: 0;
  width: 316px;
  height: 400px;
  object-fit: cover;
}

.desktop .overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 316px;
  height: 400px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 48%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.desktop .text-wrapper {
  position: absolute;
  top: 340px;
  left: 30px;
  width: 139px;
  font-family: "Noto Serif-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .div {
  position: absolute;
  top: 90px;
  left: 969px;
  width: 332px;
  height: 400px;
}

.desktop .image-here-2 {
  width: 330px;
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  background-color: #c4c4c4;
}

.desktop .img-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 400px;
  object-fit: cover;
}

.desktop .overlay-bg-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 330px;
  height: 400px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 48%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 340px;
  left: 30px;
  width: 132px;
  font-family: "Noto Serif-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .place-2 {
  position: absolute;
  top: 90px;
  left: 609px;
  width: 332px;
  height: 400px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 340px;
  left: 30px;
  width: 137px;
  font-family: "Noto Serif-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .discover-btn {
  position: absolute;
  top: 401px;
  left: 0;
  width: 197px;
  height: 64px;
}

.desktop .btn-bg {
  width: 195px;
  height: 59px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff715b;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 18px;
  left: 70px;
  width: 54px;
  font-family: "Noto Serif-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .title {
  top: 114px;
  width: 421px;
  position: absolute;
  left: 0;
  height: 116px;
  display: flex;
}

.desktop .text-wrapper-5 {
  width: 419px;
  height: 116px;
  font-family: "Noto Serif-ExtraBold", Helvetica;
  font-weight: 800;
  color: #2b2b2b;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .hero-banner-search {
  position: absolute;
  width: 1647px;
  height: 1077px;
  top: 81px;
  left: 169px;
}

.desktop .pagination {
  position: absolute;
  width: 93px;
  height: 428px;
  top: 649px;
  left: 19px;
}

.desktop .hero-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1647px;
  height: 1000px;
  background-color: #c8c8c8;
  background-image: url(./img/hero-banner-2.png);
  background-size: cover;
  background-position: 50% 50%;
}

.desktop .plan-trip-btn {
  position: absolute;
  top: 559px;
  left: 132px;
  width: 198px;
  height: 60px;
}

.desktop .btn-bg-2 {
  width: 196px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff715b;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 18px;
  left: 7px;
  width: 181px;
  font-family: "Noto Serif-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .hero-text {
  position: absolute;
  top: 276px;
  left: 142px;
  width: 1002px;
  height: 224px;
  display: flex;
}

.desktop .text-wrapper-7 {
  width: 999.96px;
  height: 224px;
  font-family: "Noto Serif-Bold", Helvetica;
  font-weight: 700;
  color: #2b2b2b;
  font-size: 84px;
  letter-spacing: 0;
  line-height: 112px;
}

.desktop .search-box {
  position: absolute;
  width: 1162px;
  height: 457px;
  top: 620px;
  left: 485px;
}

.desktop .bg-2 {
  position: absolute;
  top: 303px;
  left: 0;
  width: 1162px;
  height: 154px;
  background-color: #ffffff;
  box-shadow: 0px 10px 30px 5px #dac7c433;
}

.desktop .discover-btn-2 {
  position: absolute;
  top: 348px;
  left: 882px;
  width: 238px;
  height: 64px;
}

.desktop .btn-bg-3 {
  width: 236px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff715b;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 20px;
  left: 29px;
  width: 177px;
  font-family: "Noto Serif-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .price {
  position: absolute;
  top: 0;
  left: 632px;
  width: 235px;
  height: 427px;
}

.desktop .div-2 {
  top: 411px;
  position: absolute;
  left: 0;
  width: 235px;
  height: 1px;
  background-color: #f5ebe9;
  border-radius: 0.5px;
}

.desktop .dollar-sign {
  position: absolute;
  width: 3.57%;
  height: 2.28%;
  top: 0;
  left: 96.25%;
  background-image: url(./img/dollar-sign.svg);
  background-size: 100% 100%;
}

.desktop .div-wrapper {
  position: absolute;
  top: 377px;
  left: 0;
  width: 130px;
  height: 50px;
  display: flex;
}

.desktop .text-wrapper-9 {
  width: 128.43px;
  height: 50px;
  font-family: "Noto Serif-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff715b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .range {
  position: absolute;
  top: 348px;
  left: 0;
  width: 42px;
  height: 19px;
  display: flex;
}

.desktop .text-wrapper-10 {
  width: 40.19px;
  height: 19px;
  font-family: "42dot Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a69896;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .checkin {
  position: absolute;
  width: 235px;
  height: 427px;
  top: 0;
  left: 338px;
}

.desktop .date {
  position: absolute;
  top: 0;
  left: 0;
  width: 237px;
  height: 427px;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 377px;
  left: 0;
  width: 103px;
  font-family: "Noto Serif-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff715b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .calender {
  position: absolute;
  width: 6.20%;
  height: 2.28%;
  top: 0;
  left: 92.96%;
  background-image: url(./img/calender.svg);
  background-size: 100% 100%;
}

.desktop .destinations-2 {
  position: absolute;
  top: 348px;
  left: 0;
  width: 100px;
  height: 38px;
  display: flex;
}

.desktop .text-wrapper-12 {
  width: 98.04px;
  height: 38px;
  font-family: "42dot Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a69896;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .place-3 {
  position: absolute;
  width: 235px;
  height: 424px;
  top: 3px;
  left: 44px;
}

.desktop .arrow-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 409px;
}

.desktop .line-shape {
  top: 408px;
  position: absolute;
  left: 0;
  width: 235px;
  height: 1px;
  background-color: #f5ebe9;
  border-radius: 0.5px;
}

.desktop .down-arrow {
  position: absolute;
  width: 5.83%;
  height: 100.00%;
  top: 0;
  left: 94.17%;
}

.desktop .place-name {
  position: absolute;
  top: 374px;
  left: 0;
  width: 160px;
  height: 50px;
  display: flex;
}

.desktop .text-wrapper-13 {
  width: 157.84px;
  height: 50px;
  font-family: "Noto Serif-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff715b;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .destinations-3 {
  position: absolute;
  top: 345px;
  left: 0;
  width: 107px;
  height: 38px;
  display: flex;
}

.desktop .text-wrapper-14 {
  width: 104.9px;
  height: 38px;
  font-family: "42dot Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a69896;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .header {
  position: absolute;
  top: 11px;
  left: 180px;
  width: 1642px;
  height: 29px;
  background-color: transparent;
}

.desktop .line-shape-2 {
  position: absolute;
  top: 2px;
  left: 1642px;
  width: 1px;
  height: 20px;
  object-fit: cover;
}

.desktop .menu-text {
  position: absolute;
  top: 2px;
  left: 294px;
  width: 127px;
  height: 25px;
  display: flex;
}

.desktop .text-wrapper-15 {
  width: 125px;
  height: 25px;
  font-family: "Noto Serif-Regular", Helvetica;
  font-weight: 400;
  color: #2b2b2b;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: absolute;
  top: 13px;
  left: 672px;
  width: 157px;
  font-family: "Noto Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-17 {
  position: absolute;
  top: 18px;
  left: 898px;
  width: 150px;
  font-family: "Noto Serif-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .testimonial {
  position: absolute;
  top: 2000px;
  left: 613px;
  width: 712px;
  height: 729px;
}

.desktop .rectangle-wrapper {
  position: absolute;
  top: 216px;
  left: 10px;
  width: 690px;
  height: 513px;
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 20px 30px #e3c9c94c;
}

.desktop .rectangle {
  width: 690px;
  height: 11.74px;
  background-color: #ff715b;
  box-shadow: 0px 20px 40px #e3c9c94c;
}

.desktop .text-wrapper-18 {
  position: absolute;
  top: 416px;
  left: 70px;
  width: 570px;
  font-family: "42dot Sans-Regular", Helvetica;
  font-weight: 400;
  color: #a69896;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 36px;
}

.desktop .client {
  position: absolute;
  top: 286px;
  left: 174px;
  width: 363px;
  height: 80px;
  display: flex;
  gap: 20px;
}

.desktop .ellipse-2 {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.desktop .text-wrapper-19 {
  margin-top: 10px;
  width: 261px;
  height: 26px;
  font-family: "Noto Serif-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .title-2 {
  top: 0;
  width: 712px;
  position: absolute;
  left: 0;
  height: 116px;
  display: flex;
}

.desktop .text-wrapper-20 {
  width: 710px;
  height: 116px;
  font-family: "Noto Serif-ExtraBold", Helvetica;
  font-weight: 800;
  color: #2b2b2b;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  position: absolute;
  top: 637px;
  left: 305px;
  width: 100px;
  height: 22px;
}

.desktop .ellipse-3 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 5px;
}

.desktop .ellipse-4 {
  position: absolute;
  top: 6px;
  left: 30px;
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 5px;
}

.desktop .ellipse-5 {
  position: absolute;
  top: 6px;
  left: 60px;
  width: 10px;
  height: 10px;
  background-color: #ff715b;
  border-radius: 5px;
}

.desktop .ellipse-6 {
  position: absolute;
  top: 0;
  left: 54px;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  border: 2px solid;
  border-color: #ff715b;
}

.desktop .ellipse-7 {
  position: absolute;
  top: 6px;
  left: 90px;
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 5px;
}

