/* ── Блок "О нас" ── */
.about {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 60px 60px;
    gap: 60px;
    background-color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

.about__image {
  flex-shrink: 0;
  width: 570px;
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
}

.about__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__content {
    max-width: 500px;
    align-self: stretch;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.about__title {
  font-size: 48px;
  font-weight: 800;
  color: #1a1a1a;
}

.about__features {
    flex: 1;
    justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.about__feature {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 16px 0;
}

.miniki {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    flex-shrink: 0;
    object-fit: contain;
}

.about__feature-icon {
    margin-top: 10px;
  width: 36px;
  height: 36px;
  background-color: #fff0ee;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  flex-shrink: 0;
}

.about__feature-title {
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 6px;
}

.about__feature-desc {
  font-size: 18px;
  color: #888888;
  line-height: 1.6;
}

.about__divider {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
}

.tipok {
    display: flex;
    justify-content: flex-start;
    margin-top: 2px;
    
}